@charset 'UTF-8';
/*Typography*/
@font-face {
  font-family: 'Oleo Script';
  font-weight: 400;
  font-style: normal;

  src: url(http://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}
@font-face {
  font-family: 'Poiret One';
  font-weight: 400;
  font-style: normal;
  src: url(http://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}
/*Header*/

header {
  position: relative;
  background: url(../img/header-background.jpg) #ae8a4e;
  background-size: cover;
}
.logo {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 215px;
  height: 265px;
  background-color: #fff;

  -webkit-mask-image: url(../img/logo.png);
          mask-image: url(../img/logo.png);
  -webkit-mask-size: cover;
          mask-size: cover;
}
h1 {
  font-family: 'Oleo Script', 'Helvetica', sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  padding: 166px 0 55px 0;
  color: blue;
  text-shadow: 3px 3px 4px rgba(0,0,0,.90);
}
.subheader-msg {
  font-family: 'Oleo Script', cursive;
  padding: 55px 0 200px 0;
  color: blue;
  text-shadow: 2px 2px 3px rgba(0,0,0,.90);
}
.divider {
  display: block;
  max-width: 700px;
  border: none;
  border-bottom: 1px solid #fff;
}
/*Gallery*/

/*Main*/

.header-wrapper *,
.callout-wrapper *,
.contact-wrapper *,
.footer-wrapper * {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.site-imgs li {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 12px;
  list-style: none;
  background-size: cover;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.60);
}
.site-imgs ul {
  margin-bottom: 24px;
  text-align: center;
}
#left-img {
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.ytimg.com%2Fvi%2FmRf3-JkwqfU%2Fhqdefault.jpg&imgrefurl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DmRf3-JkwqfU&docid=e8mED6mQy8GclM&tbnid=Ywonn04NuQeynM%3A&vet=10ahUKEwidlvyalZ3UAhUEfiYKHdtRD5oQMwh-KAswCw..i&w=480&h=360&bih=567&biw=1026&q=puppy%20pictures&ved=0ahUKEwidlvyalZ3UAhUEfiYKHdtRD5oQMwh-KAswCw&iact=mrc&uact=8');
}
#middle-img {
  background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F02%2F05%2F12%2F09%2Fchihuahua-624924_960_720.jpg&imgrefurl=https%3A%2F%2Fpixabay.com%2Fen%2Fphotos%2Fpuppy%2F&docid=grPLJW6CDbErpM&tbnid=JVdbFjRE9qa9oM%3A&vet=10ahUKEwidlvyalZ3UAhUEfiYKHdtRD5oQMwh6KAcwBw..i&w=960&h=640&bih=567&biw=1026&q=puppy%20pictures&ved=0ahUKEwidlvyalZ3UAhUEfiYKHdtRD5oQMwh6KAcwBw&iact=mrc&uact=8');
}
#right-img {
  background-image: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiboLe-lZ3UAhWDZiYKHTxeA9EQjRwIBw&url=https%3A%2F%2Fgiphy.com%2Fsearch%2Fpuppy&psig=AFQjCNFrLrfnJbnoVdWxG2oMkgJOHN5iuQ&ust=1496424340246440');
}
.callout-msg,
.contact-msg,
.contact-phone {
  font-family: 'Poiret One', 'Helvetica', sans-serif;
  font-weight: normal;
}
.callout-wrapper {
  padding: 25px 0;
  background-image: url(http://forums.mtbr.com/attachments/california-norcal/613771d1305165012-sick-hipsters-fixed_gear_bike_poseur_by_jesse_k.jpg);
  background-size: contain;
}
.contact-wrapper {
  text-align: center;
  color: #333;
}
.callout-msg {
  font-size: 35px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,.50);
}
.contact-msg {
  font-size: 28px;
  padding: 25px 0;
}
.contact-email {
  padding: 25px;
}
/*Footer*/
footer {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding: 30px 0;
  text-align: center;
  color: #fff;
  background: #333;
}
